<div class="funding-call-view pt-2">
	<div class="filters">
		<app-document-search [corpus]="corpus" [placeholder]="'APP.RECOMMENDATION-TOOL-COMPONENT.FUNDING-CALL' | translate" (selectedDoc)="onSelectedDoc($event)"></app-document-search>
		@if(selectedDoc){
            <mat-form-field class="w-100">
                <mat-label>{{'APP.RECOMMENDATION-TOOL-COMPONENT.CRITERIA' | translate}}</mat-label>
                <mat-select [(ngModel)]="selectedCriteria" (selectionChange)="selectedCriteriaChange()">
                    <mat-option *ngFor="let criteria of criteriaList" [value]="criteria">{{criteria}}</mat-option>
                </mat-select>
            </mat-form-field>
        }
    </div>
    <div class="results" [class.document-only]="!selectedCriteria?.length">
        <div class="chart" *ngIf="selectedDoc && chartOptions">
            <div [options]="chartOptions" echarts></div>
            <app-document-view [selectedDoc]="selectedDoc" class="mb-3 col-12 col-xl-8"></app-document-view>
        </div>
        <div class="research-view p-3" *ngIf="selectedCriteria?.length">
            <app-research-view  
                [similarResearchers]="similarResearchers" 
                [similarResearcherGroups]="similarResearcherGroups"
                (loadResearchers)="researchersChange($event)" 
                (loadResearchGroups)="researchGroupsChange($event)"
                (pageSize)="pageSize"
            ></app-research-view>
        </div>
    </div>
</div> 
