// .recent-item{
//     border-bottom: 2px solid #c7c7cc;
// }

// .actions-grid{
//     display: grid;
//     gap: 7rem;
//     grid-template-columns: repeat(3, 1fr);
// }


// @media screen and (max-width: 768px) {
//     .actions-grid{
//         grid-template-columns: 1fr;
//     }
// }

.welcome-div {
	text-align: left;
    font-size: 3.5rem
}

.title-div {
	text-align: left;
    font-size: 2rem
}

.version-div {
	text-align: left;
	overflow-wrap: break-word;
	word-break: break-word;
	font-size: 1.75rem;
}

.logo {
	width: 50% !important;
}

.logo-div {
	vertical-align: middle;
	width: 300px;
}

.padded-container {
    padding: 1rem 2rem;
}

.uc3m-logo {
    max-width: 50vw;
}
