.container-fluid{
	height: 100vh;
	display: flex;
	flex-direction: column;
    .main-content {
        top: 60px;
    }
    .main-container {
        container-name: main-container;
        container-type: inline-size;
    }
}


// @media screen and (min-width: 800px) {	
// 	#footer{
// 		background-color: #fff;
// 		position: sticky;
// 		bottom: 0;
// 	}
// }
