<div class="container-fluid p-0">
	<app-navigation></app-navigation>
    <mat-sidenav-container fullscreen class="main-content">
        <mat-sidenav #sidenav mode="side" opened class="sidenav">
            <app-nav-sidebar/>
        </mat-sidenav>
        <mat-sidenav-content class="main-container">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
	<!-- <app-footer id="footer"></app-footer> -->
	<app-ui-notification></app-ui-notification>
</div>


