<div class="pb-0">
	<mat-form-field class="w-100">
		<mat-icon matPrefix>search</mat-icon>
		<input class="col-4" type="text" matInput [matAutocomplete]="auto" (input)="onChange($event)"
			(click)="onChange($event)" [(value)]="searchInput" [placeholder]="placeholder">
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)"
			(optionActivated)="onActivated($event)" cdkScrollable (optionsScroll)="onScroll()">
			<mat-option *ngFor="let doc of docs; index as i" [value]="doc.id" [id]="i">
				{{doc.title}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</div>