<div class="search-by-researcher-view">
	<div class="row mt-3 mb-3 ml-0 mr-0">
		<div class="col-2 col-xl-1"></div>
		<app-ag-doc-search class="col-1 col-xl-5" (selectedAGDoc)="onSelectedAGDoc($event)"></app-ag-doc-search>
		<div class="col-2 col-xl-1"></div>
		<div *ngIf="selectedAG" class="col-1 col-xl-5">
			<div class="pb-0">
				<mat-form-field class="w-100">
					<mat-label>{{'APP.RECOMMENDATION-TOOL-COMPONENT.CRITERIA' | translate}}</mat-label>
					<mat-select [(ngModel)]="selectedCriteria" (selectionChange)="selectedCriteriaChange()">
						<mat-option *ngFor="let criteria of criteriaList" [value]="criteria">{{criteria}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<app-research-view *ngIf="selectedCriteria.length > 0" [similarResearchers]="similarResearchers"></app-research-view>
		</div> 
	</div>
	<div *ngIf="chartOptions?.length > 0" class="mb-3 col-12 col-xl-4">
		<div *ngFor="let option of chartOptions">
			<div [options]="option" echarts></div>
		</div>
	</div>
	<div class="row m-0">
		<app-document-view *ngIf="selectedAG" [selectedDoc]="selectedAG" class="mb-3 col-12 col-xl-8"></app-document-view>
	</div>
</div> 
