.search-by-researcher-view {
    .filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    // .results.no-criteria {
    //     grid-template-columns: 1fr;
    // }
    
    .result-container {
        background-color: var(--sys-surface-container-lowest);
        padding: 1rem;
        max-height: fit-content;
    }
    .chart {
        max-width: calc(100% - 1px); //force refresh chart width on sidenav expand/minimize
    }
    
}
@container main-container (inline-size < 1000px){
    .filters {
        grid-template-columns: 1fr
    }
}