<div *ngIf="selectedDoc" class="document-view">
    <div class="section grid-container">
        <div class="section-header">
            {{'APP.DOCUMENT-VIEW-COMPONENT.INFORMATION' | translate}}
        </div>
        <div class="table-grid">
            @if(selectedDoc.id){
                <div class="grid-label">{{'APP.DOCUMENT-VIEW-COMPONENT.ID' | translate}}</div>
                <div class="grid-value">{{selectedDoc.id}} </div>
            }
            @if(selectedDoc.title){
                <div class="grid-label">{{'APP.DOCUMENT-VIEW-COMPONENT.TITLE' | translate}}</div>
                <div class="grid-value">{{selectedDoc.title}} </div>
            }
            @for(field of selectedDoc | keyvalue; track $index){
                @if(field.key !== 'id' && field.key !== 'title'){
                    <div class="grid-label">{{prettifyCamelCase(field.key)}}</div>
                    <div class="grid-value">
                        @if(isArray(field.value)){
                            <span *ngFor="let subval of field.value; let last=last">
                                {{subval}}{{!last ? ', ' : ''}}
                            </span>
                        }@else {
                            <div [innerHTML]="sanitized(field.value)"></div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>
