<div *ngIf="selectedDoc" class="document-view">
    <div class="section grid-container">
        <div class="section-header">
            {{'APP.DOCUMENT-VIEW-COMPONENT.INFORMATION' | translate}}
        </div>
        <div class="table-grid">
            <div class="grid-label">Id</div>
			<div class="grid-value">{{selectedDoc.id}} </div>
            <div class="grid-label">Title</div>
            <div class="grid-value">{{selectedDoc.title}} </div>
            @for(field of selectedDoc | keyvalue; track $index){
                @if(field.key !== 'id' && field.key !== 'title'){
                    <div class="grid-label">{{prettifyCamelCase(field.key)}}</div>
                    <div class="grid-value">
                        @if(isArray(field.value)){
                            <span *ngFor="let subval of field.value; let last=last">
                                {{subval}}{{!last ? ', ' : ''}}
                            </span>
                        }@else {
                            <div [innerHTML]="sanitized(field.value)"></div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>
