<div class="padded-container">
    <h1 class="page-title mb-3">{{'APP.NAVIGATION.RECOMMENDATION-TOOL' | translate}}</h1>
    <div class="d-flex flex-wrap align-items-center gap-3 mb-3">
        {{'APP.RECOMMENDATION-TOOL-COMPONENT.SEARCH-BY' | translate}}:
        <mat-button-toggle-group [(ngModel)]="searchBy">
            <mat-button-toggle [value]="SearchByEnum.FundingCall">
                {{ 'APP.RECOMMENDATION-TOOL-COMPONENT.FUNDING-CALL' | translate }}
            </mat-button-toggle>
            <mat-button-toggle [value]="SearchByEnum.Text">
                {{ 'APP.RECOMMENDATION-TOOL-COMPONENT.TEXT' | translate }}
            </mat-button-toggle>
            <mat-button-toggle [value]="SearchByEnum.Researcher">
                {{ 'APP.RECOMMENDATION-TOOL-COMPONENT.RESEARCHER' | translate }}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    
    @switch(searchBy){
        @case(SearchByEnum.FundingCall){
            <app-funding-call></app-funding-call>
        }
        @case(SearchByEnum.Text){
            <app-search-by-text></app-search-by-text>
        }
        @case(SearchByEnum.Researcher){
            <app-search-by-researcher></app-search-by-researcher>
        }
    }
</div>