@if(selectedMetadata){
    <div class="container p-3">
        <div *ngIf="dialogData?.title" class="header d-flex align-items-center gap-1">
            <h4 class="m-0 pt-1">
                <span>{{ dialogData.title }}</span>
            </h4>
            <div class="ml-auto">
                <button mat-icon-button mat-dialog-close>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div class="table-grid mt-3 grid-container">
            @if(selectedMetadata.id){
                <div class="grid-label">{{'APP.METADATA-VIEW-COMPONENT.ID' | translate}}</div>
                <div class="grid-value">{{selectedMetadata.id}} </div>
            }
            @if(selectedMetadata.name){
                <div class="grid-label">{{'APP.METADATA-VIEW-COMPONENT.NAME' | translate}}</div>
                <div class="grid-value">
                    <span class="wrap-text">{{selectedMetadata.name}}</span>
                </div>
            }
            @if(selectedMetadata.title){
                <div class="grid-label">{{'APP.METADATA-VIEW-COMPONENT.TITLE' | translate}}</div>
                <div class="grid-value">
                    <span class="wrap-text">{{selectedMetadata.title}}</span>
                </div>
            }
            @if(topicMetadata != null && topicMetadata.length > 0){
                @for(field of topicMetadata[0] | keyvalue; track $index){
                    @if(field.key !== 'id' && field.key !== 'Title' && field.key !== 'Name'){
                        <div class="grid-label">{{prettifyCamelCase(field.key)}}</div>
                        <div class="grid-value">
                            @if(isArray(field.value)){
                                <span *ngFor="let subval of field.value; let last = last" class="field-value wrap-text">
                                    {{subval}}{{!last ? ', ' : ''}}
                                </span>
                            }@else{
                                <div [innerHTML]="sanitized(field.value)"></div>
                            }
                        </div>
                    }
                }
            }
        </div>
    </div>
}
