<nav class="navigation-sidebar">
    <ul class="navigation-groups w-100">
        <li >
            <a role="link" class="navigation-group-item" routerLink="/home" routerLinkActive="selected-route">
                <mat-icon>home</mat-icon>{{'APP.NAVIGATION.HOME' | translate}}
            </a>
        </li>
        <li *ngIf="authService.hasPermission(appPermission.ViewEwbPage)" >
            <a  role="link"  class="navigation-group-item" routerLink="/ewb" routerLinkActive="selected-route">
                <mat-icon>map</mat-icon>{{'APP.NAVIGATION.EWB' | translate}}
            </a>
        </li>
        <li *ngIf="authService.hasPermission(appPermission.ViewRecommendationToolPage)"  >
            <a  role="link" class="navigation-group-item" routerLink="/recommendation-tool" routerLinkActive="selected-route"> 
                <mat-icon>history_edu</mat-icon>{{'APP.NAVIGATION.RECOMMENDATION-TOOL' | translate}}
            </a>
        </li>
        <!-- <li >
            <a role="link" class="navigation-group-item" routerLink="/expert" routerLinkActive="selected-route">
                {{'APP.NAVIGATION.EXPERT' | translate}}
            </a>
        </li> -->
        <!-- <li role="link" *ngIf="authService.hasPermission(appPermission.ViewClassifyPage)" class="navigation-group-item" >
            {{'APP.NAVIGATION.CLASSIFY' | translate}} routerLink="/classify" routerLinkActive="selected-route"
        </li> -->
        <!-- <li >
            <a role="link" class="navigation-group-item" routerLink="/manual" routerLinkActive="selected-route">
                {{'APP.NAVIGATION.MANUAL' | translate}}
            </a>
        </li> -->
        <li *ngIf="authService.hasPermission(appPermission.ViewUserPage)" >
            <a role="link" class="navigation-group-item" routerLink="/users" routerLinkActive="selected-route">
                <mat-icon >admin_panel_settings</mat-icon>{{'APP.NAVIGATION.ADMINISTRATION' | translate}}
            </a>
        </li>
        <li *ngIf="authService.hasPermission(appPermission.ViewFaqPage)"  class="mt-auto">
            <a role="link" class="navigation-group-item" routerLink="/faq" routerLinkActive="selected-route"> 
                <mat-icon class="material-icons-outlined">article</mat-icon>{{'APP.NAVIGATION.FAQ' | translate}}
            </a>
        </li>
        <li *ngIf="isAuthenticated()">
            <div role="button" class="navigation-group-item" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>{{'APP.NAVIGATION.LOGOUT' | translate}}
            </div>
        </li>
    </ul>
</nav>