<div class="pb-0">
	<mat-form-field class="w-100">
        @if(label){
            <mat-label>{{label}}</mat-label>
        }
		<input class="col-4" type="text" matInput [matAutocomplete]="auto" (input)="onChange($event)"
			(click)="onChange($event)" [(value)]="searchInput">
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)"
			(optionActivated)="onActivated($event)" cdkScrollable (optionsScroll)="onScroll()">
			<mat-option *ngFor="let doc of AGdocs; index as i" [value]="doc.id" [id]="i">
				{{doc.SearcheableField}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</div>