.metadata-ag-view {
	padding: 1.5rem;
	
	.field-value {
		padding-left: 10px;
		vertical-align: middle;
		cursor: default !important;
		text-align: center;
	}
	
	.space-div {
		border-top: solid gainsboro;
		width: 100%;
	}
	
	.doc-style {
		border-top: solid gainsboro;
	}
	
	.field-title {
		border-right: solid gainsboro;
	}
}

.statistics-grid{
    border: 0.5px solid var(--grid-border-color);
}
