@if(selectedMetadata){
    <div class="container p-3">
        <div *ngIf="dialogData?.title" class="header d-flex align-items-center gap-1">
            <h4 class="m-0 pt-1">
                <span>{{ dialogData.title }}</span>
            </h4>
            <div class="ml-auto">
                <button mat-icon-button mat-dialog-close>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div class="statistics-grid mt-3">
            @if(selectedMetadata.id){
                <div class="grid-label">Id</div>
                <div class="grid-value">{{selectedMetadata.id}} </div>
            }
            @if(selectedMetadata.title){
                <div class="grid-label">Title</div>
                <div class="grid-value">{{selectedMetadata.title}} </div>
            }
            @for(field of topicMetadata | keyvalue; track $index){
                @if(field.key !== 'id' && field.key !== 'title'){
                    <div class="grid-label">{{prettifyCamelCase(field.key)}}</div>
                    <div class="grid-value">
                        @if(isArray(field.value)){
            
                        }@else{
                            <div [innerHTML]="sanitized(field.value)"></div>
                        }
                    </div>
                    <dl>
                        <dt *ngFor="let subval of field.value; let last = last" class="field-value">
                            {{subval}}{{!last ? ', ' : ''}}
                        </dt>
                    </dl>
                }
            }
        </div>
    </div>
}
