.user-listing-filters {

}


.filter-button{
	padding-top: .6rem;
	padding-bottom: .6rem;
}

::ng-deep .mdc-form-field {
	label {
			margin: 0;
	}
}
::ng-deep .mat-mdc-button:not(:disabled).filter-button{
    color: var(--sys-on-surface);    
}