.model-selection-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    max-width: max(70vw, 750px);
}

@container main-container (inline-size < 750px){
    .model-selection-row{
        grid-template-columns: 1fr;
    }
}