<div class="search-by-text-view pt-2">
    <mat-form-field class="w-100 text-input">
        <mat-label>{{'APP.RECOMMENDATION-TOOL-COMPONENT.SEARCH-BY-TEXT' | translate}}</mat-label>
        <textarea
            matInput
            rows="8"
            [(ngModel)]="textInput"
        >
        </textarea>
    </mat-form-field>
    <div>
        <mat-form-field class="w-100">
            <mat-label>{{'APP.RECOMMENDATION-TOOL-COMPONENT.CRITERIA' | translate}}</mat-label>
            <mat-select [(ngModel)]="selectedCriteria" (selectionChange)="selectedCriteriaChange()" [disabled]="!textInput?.length">
                <mat-option *ngFor="let criteria of criteriaList" [value]="criteria">{{criteria}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        @if(selectedCriteria?.length){
            <div class="results p-3">
                <app-research-view [similarResearchers]="similarResearchers" [similarResearcherGroups]="similarResearcherGroups"></app-research-view>
            </div>
        }
    </div>
</div> 