/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@swimlane/ngx-datatable/index.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';

@import '../node_modules/@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

@import "../node_modules/bootstrap/scss/bootstrap";

//Material-Bootstrap configuration
@import "assets/scss/bootstrap-material";
@import "./appm3-theme.scss";
@import "../node_modules/flag-icons/css/flag-icons.min.css";

body {
    font-family: Roboto, sans-serif;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 1rem;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-grab {
    cursor: grab;
}

.cursor-unset {
    cursor: unset !important;
}

.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group {
    background-color: #e0e0e0;
}

.ngx-datatable.material.single-selection .datatable-body-row.active:hover,
.ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
    background-color: #e0e0e0;
}

.ngx-datatable.material {
    .datatable-header {
        background-color: #e5e5e5;

        .datatable-header-cell {
            background-color: unset;
            font-weight: bold;
            color: #000;
        }
    }
}

.primary-theme .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .8em 0;
    border-top: 0;
}

.search-icon-search-bar {
    transform: translateY(3px);
    opacity: .2;
}

.mat-dialog-container {
    .mat-form-field-subscript-wrapper {
        margin-top: .2em;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: white;
        border-radius: 5px;
    }
}

.pb-0 {
    .mat-form-field-wrapper {
        padding-bottom: 0px !important;
    }
}

.mb-0 {
    .mat-form-field-wrapper {
        margin-bottom: 0px !important;
    }
}

.mat-tooltip {
    font-size: 1rem !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.sticky-top {
    position: sticky !important;
    top: 0;
    z-index: 999;
}

.sticky-bottom {
    position: sticky !important;
    bottom: 0;
    z-index: 999;
}

.gray-text {
    color: #444;
}

.snack-bar-notification--success {
    background-color: darkgreen !important;
    color: white !important;
}

.snack-bar-notification--error {
    background-color: var(--sys-error) !important;
    color: white !important;
}

.snack-bar-notification--warning {
    background-color: yellow !important;
    color: black !important;
}

.snack-bar-notification--info {
    background-color: #222 !important;
    color: white !important;
}

mat-spinner {
    margin: 0px auto;
}

.mat-button-disabled, input[readonly] {
    cursor: not-allowed !important;
}