<div class="research-view">
    @if(similarResearchers.length){
        <div class="section">
            <div class="section-header">{{'APP.EWB-COMPONENT.MODEL-OVERVIEW-COMPONENT.TOPIC-VIEWER.TOP-RESEARCHERS' | translate}}</div>
            <div class="w-100">
                <app-listing
                    [rows]="similarResearchers" 
                    [columns]="similarResearchersColumns" 
                    [count]="similarResearchers.length" 
                    [selectionType]="selectionType.single" 
                    (rowSelected)="showMetadata($event, 'APP.EWB-COMPONENT.MODEL-OVERVIEW-COMPONENT.TOPIC-VIEWER.RESEARCHER', 'uc3m_researchers')"
                    [count]="similarResearchers?.length" 
                    [limit]=installationConfigurationService.getResearchersDisplayedPerPage
                    [externalPaging]=false
                ></app-listing>
            </div>
        </div>
    }
    @if(similarResearcherGroups.length > 0){
        <div class="section mt-3">
            <div class="section-header">{{'APP.EWB-COMPONENT.MODEL-OVERVIEW-COMPONENT.TOPIC-VIEWER.TOP-RESEARCHE-GROUPS' | translate}}</div>
            <div class="w-100">
                <app-listing 
                    [rows]="similarResearcherGroups" 
                    [columns]="similarResearcherGroupColumns" 
                    [count]="similarResearcherGroups.length" 
                    [selectionType]="selectionType.single" 
                    (rowSelected)="showMetadata($event, 'APP.EWB-COMPONENT.MODEL-OVERVIEW-COMPONENT.TOPIC-VIEWER.RESEARCH-GROUP', 'uc3m_research_groups')" 
                    [limit]=installationConfigurationService.getRGsDisplayedPerPage
                    [externalPaging]=false
                ></app-listing>
            </div>
        </div>
    }

    @if(similarToResearcher.length > 0){
        <div class="section mt-3">
            <div class="section-header">{{'APP.EWB-COMPONENT.MODEL-OVERVIEW-COMPONENT.TOPIC-VIEWER.TOP-CALLS' | translate}}</div>
            <div class="w-100">
                <app-listing 
                    [rows]="similarToResearcher" 
                    [columns]="similarToResearcherColumns" 
                    [count]="similarToResearcher.length" 
                    [selectionType]="selectionType.single" 
                    (columnSort)="sortRows($event)" 
                    (rowSelected)="showMetadata($event, 'APP.EWB-COMPONENT.MODEL-OVERVIEW-COMPONENT.TOPIC-VIEWER.CALL', null, installationConfigurationService.getMetdataDocByIdCorpusCollection)" 
                    [limit]=installationConfigurationService.getCallsDisplayedPerPage
                    [externalPaging]=false
                ></app-listing>
            </div>
        </div>
    }
</div>

<ng-template #textWrapTemplate ngx-datatable-cell-template let-row="row" let-value="value" let-column="column">
	<div class="title-style">{{value}}</div>
</ng-template>

<ng-template #percentageBar ngx-datatable-cell-template let-row="row" let-value="value" let-column="column">
	<div class="progress">
		<!-- <div class="progress-bar empty-bar" role="progressbar" [attr.aria-valuenow]="emptyValue(value)"
			[style]="'width: ' + emptyValue(value) + '%'" aria-valuemin="0" aria-valuemax="100"></div> -->
		<div class="progress-bar percent-bar" role="progressbar" [attr.aria-valuenow]="value"
			[style]="'width: ' + value + '%'" aria-valuemin="0" aria-valuemax="100">
			<!-- {{(value < 100 && value > 0) ? value : ''}} -->
			<span *ngIf="value > 25">{{value | number: '1.0-2' }}%</span>
		</div>
		<span class="progress-value" *ngIf="value <= 25">{{value | number: '1.0-2' }}%</span>
	</div>
</ng-template>

<ng-template #dateTemplate ngx-datatable-cell-template let-row="row" let-value="value" let-column="column">
    {{value | date : 'shortDate' | nullifyValue}}
</ng-template>
