.topic-view {
	padding: 1.5rem;

	.title-style {
		white-space: break-spaces;
	}

    .info-container {
        display: grid;
        grid-template-columns: 55% 45%;
        gap: 1rem;
    }

    .section {
        border: 0.5px solid var(--grid-border-color);
        border-radius: 2px;
        padding: 0;
        margin: 1rem 0;
    }
	.section-header {
        font-size: 1.2rem;
        padding: 0.75rem 1rem;
        background-color: var(--sys-surface-variant);
        border-bottom: 1px solid var(--grid-border-color);
    }
	// ::ng-deep .ngx-datatable.material {
	// 	box-shadow: none;
	// }
	
	.percent-bar {
		float: inline-end;
	}
	
	.progress-value {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	
	.empty-bar {
		background-color: #e9ecef;
	}
	
	.topic-style .mat-dialog-container .mat-dialog-content {
		overflow-x: hidden;
	}
}

//overwrite ngrx datatable styling 
::ng-deep .ngx-datatable.material {
    box-shadow: none;
    .datatable-header{
        background-color: var(--grid-header-color);
    }
}

@container main-container (inline-size < 750px){
    .model-selection-row{
        grid-template-columns: 1fr;
    }
    .info-container {
        grid-template-columns: 1fr;
    }
}